<ul class='small-block-grid-7'>
  <% _.each(weekdays, function(weekday) { %>
    <li class='day-list-item'>
      <div class='day-title'>
        <%= weekday %>
      </div>
    </li>
  <% }) %>
  <% _.each(days, function(day) { %>
    <li class='month-day-item <%= day.currentMonth ? "current-month" : "" %> <%= day.today ? "today" : "" %>'>
      <div class='month-day-title'>
        <%= day.date %>
      </div>
      <ul class='post-list'>
      <% _.each(day.posts, function(post) { %>
        <li class='post-list-item' data-campaign-id="<%= post.attributes.campaign_id %>">
          <div class='post-title'>
            <a href="#<%= collab.id %>/posts/<%= post.attributes.id %>"><%= post.attributes.name %></a>
          </div>
        </li>
      <% }) %>
      </ul>
    </li>
  <% }) %>
</ul>