<ul class='small-block-grid-7'>
  <% _.each(weekdays, function(weekday) { %>
    <li class='day-list-item'>
      <div class='day-title'>
        <%= weekday %>
      </div>
    </li>
  <% }) %>
  <% _.each(days, function(day) { %>
    <li class='month-day-item <%= day.currentMonth ? "current-month" : "" %> <%= day.today ? "today" : "" %>' id='date-<%= day.date %>'>
      <div class='month-day-title'>
        <%= day.date %>
      </div>
      <ul class='post-list'>
      </ul>
    </li>
  <% }) %>
</ul>
