<h1><%= collaboration.escape("name") %></h1>
<p><%= collaboration.escape("description") %></p>

<div class='row'>
  <div class='small-2 columns'>
    <h6 class='section-title'><strong>Campaigns</strong></h6>
    <form id="campaign-form" action="http://localhost:3000/collaborations/1/campaigns" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
	    <input placeholder="Create campaign" type="text" name="campaign[name]" id="campaign_name">
		</form>
    <ul id='campaign-list' data-collaboration-id="<%= collaboration.escape("id") %>">
    </ul>
    <div id='membership-section'>
      <h6 class='section-title'><strong>Members</strong></h6>
      <input id='membership-form' type='text' placeholder='Add member'>
      <ul id='membership-list'>
      </ul>
    </div>
  </div>
  <div class='small-8 small-offset-1 columns end'>
    <div class='row'>
      <div class='small-2 columns'>
        <a class='tiny button success' id='today-button'>Today</a>
      </div>
      <div class='small-4 small-offset-2 columns'>
        <ul class="button-group even-3 text-center">
          <li><a href="#" class="tiny button secondary time-scale-select" data-scale='week'>Weekly</a></li>
          <li><a href="#" class="tiny button secondary time-scale-select" data-scale='month'>Monthly</a></li>
        </ul>
      </div>
      <div class='small-2 columns text-right'>
        <a class='tiny button success' id='create-post-button'>Create Post</a>
      </div>
    </div>
    <div class='row'>
      <div class='small-1 columns'>
        <a class='time-scale-arrow' data-scale-amount="-1"><i class='fi-arrow-left'></i></a>
      </div>
      <div class='small-10 columns' id='time-scale-title'>
        Loading...
      </div>
      <div class='small-1 end columns'>
        <a class='time-scale-arrow float-right' data-scale-amount="1"><i class='fi-arrow-right'></i></a>
      </div>
    </div>
    <div id='calendar' data-collaboration-id="<%= collaboration.escape("id") %>">
    </div>
    <div id='post-show'></div>
  </div>
</div>

<div id="create-post-modal" class="reveal-modal" data-reveal>
  <div class='row'>
    <div class='small-12 columns'>
      <h4 id='create-post-title'>
        New Post
      </h4>
    </div>
  </div>
 	<form id="post-form" action="/collaborations/<%= collaboration.escape("id") %>/posts" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
    <input value="1" type="hidden" name="post[collaboration_id]" id="post_collaboration_id">
    <input value="1" type="hidden" name="post[user_id]" id="post_user_id">

    <div class="row">
      <div class="small-3 columns">
        <label for="post_name">Name</label>
        <input autofocus="autofocus" type="text" name="post[name]" id="post_name">
      </div>
      <div class="small-3 columns end">
        <label for="post_campaign">Campaign</label>
        <select name="post[campaign_id]" id="post_campaign_id">
			  <option value="1">
			    olklkj
			  </option>
				</select>
      </div>
	    </div>
	    <div class="row">
	      <input type="hidden" name="scheduled_at[offset]" id="offset" value="14400">
	      <div class="small-2 columns">
	        <label for="post_year">Year</label>
	        <select id="scheduled_at_year" name="scheduled_at[year]">
	          <option value="2010">2010</option>
	          <option value="2011">2011</option>
	          <option value="2012">2012</option>
	          <option value="2013">2013</option>
	          <option value="2014">2014</option>
	          <option value="2015" selected="selected">2015</option>
	          <option value="2016">2016</option>
	          <option value="2017">2017</option>
	          <option value="2018">2018</option>
	          <option value="2019">2019</option>
	          <option value="2020">2020</option>
	          </select>

	                </div>
	                <div class="small-4 columns">
	                  <label for="post_month">Month</label>
	                  <select id="scheduled_at_month" name="scheduled_at[month]">
	          <option value="1">January</option>
	          <option value="2">February</option>
	          <option value="3">March</option>
	          <option value="4">April</option>
	          <option value="5">May</option>
	          <option value="6">June</option>
	          <option value="7" selected="selected">July</option>
	          <option value="8">August</option>
	          <option value="9">September</option>
	          <option value="10">October</option>
	          <option value="11">November</option>
	          <option value="12">December</option>
	          </select>

	                </div>
	                <div class="small-1 columns">
	                  <label for="post_date">Date</label>
	                  <select id="scheduled_at_date" name="scheduled_at[date]">
	          <option value="1">1</option>
	          <option value="2">2</option>
	          <option value="3">3</option>
	          <option value="4">4</option>
	          <option value="5">5</option>
	          <option value="6">6</option>
	          <option value="7">7</option>
	          <option value="8">8</option>
	          <option value="9">9</option>
	          <option value="10">10</option>
	          <option value="11">11</option>
	          <option value="12">12</option>
	          <option value="13">13</option>
	          <option value="14">14</option>
	          <option value="15">15</option>
	          <option value="16" selected="selected">16</option>
	          <option value="17">17</option>
	          <option value="18">18</option>
	          <option value="19">19</option>
	          <option value="20">20</option>
	          <option value="21">21</option>
	          <option value="22">22</option>
	          <option value="23">23</option>
	          <option value="24">24</option>
	          <option value="25">25</option>
	          <option value="26">26</option>
	          <option value="27">27</option>
	          <option value="28">28</option>
	          <option value="29">29</option>
	          <option value="30">30</option>
	          <option value="31">31</option>
	          </select>

	                </div>
	                <div class="small-1 columns">
	                  <label for="post_hour">Hour</label>
	                  <select id="scheduled_at_hour" name="scheduled_at[hour]">
	          <option value="00">00</option>
	          <option value="01">01</option>
	          <option value="02">02</option>
	          <option value="03">03</option>
	          <option value="04">04</option>
	          <option value="05">05</option>
	          <option value="06">06</option>
	          <option value="07">07</option>
	          <option value="08">08</option>
	          <option value="09">09</option>
	          <option value="10">10</option>
	          <option value="11">11</option>
	          <option value="12">12</option>
	          <option value="13" selected="selected">13</option>
	          <option value="14">14</option>
	          <option value="15">15</option>
	          <option value="16">16</option>
	          <option value="17">17</option>
	          <option value="18">18</option>
	          <option value="19">19</option>
	          <option value="20">20</option>
	          <option value="21">21</option>
	          <option value="22">22</option>
	          <option value="23">23</option>
	          </select>

	                </div>
	                <div class="small-1 columns end">
	                  <label for="post_minute">Minute</label>
	                  <select id="scheduled_at_minute" name="scheduled_at[minute]">
	          <option value="00">00</option>
	          <option value="01">01</option>
	          <option value="02">02</option>
	          <option value="03">03</option>
	          <option value="04">04</option>
	          <option value="05">05</option>
	          <option value="06">06</option>
	          <option value="07">07</option>
	          <option value="08">08</option>
	          <option value="09">09</option>
	          <option value="10">10</option>
	          <option value="11">11</option>
	          <option value="12">12</option>
	          <option value="13" selected="selected">13</option>
	          <option value="14">14</option>
	          <option value="15">15</option>
	          <option value="16">16</option>
	          <option value="17">17</option>
	          <option value="18">18</option>
	          <option value="19">19</option>
	          <option value="20">20</option>
	          <option value="21">21</option>
	          <option value="22">22</option>
	          <option value="23">23</option>
	          <option value="24">24</option>
	          <option value="25">25</option>
	          <option value="26">26</option>
	          <option value="27">27</option>
	          <option value="28">28</option>
	          <option value="29">29</option>
	          <option value="30">30</option>
	          <option value="31">31</option>
	          <option value="32">32</option>
	          <option value="33">33</option>
	          <option value="34">34</option>
	          <option value="35">35</option>
	          <option value="36">36</option>
	          <option value="37">37</option>
	          <option value="38">38</option>
	          <option value="39">39</option>
	          <option value="40">40</option>
	          <option value="41">41</option>
	          <option value="42">42</option>
	          <option value="43">43</option>
	          <option value="44">44</option>
	          <option value="45">45</option>
	          <option value="46">46</option>
	          <option value="47">47</option>
	          <option value="48">48</option>
	          <option value="49">49</option>
	          <option value="50">50</option>
	          <option value="51">51</option>
	          <option value="52">52</option>
	          <option value="53">53</option>
	          <option value="54">54</option>
	          <option value="55">55</option>
	          <option value="56">56</option>
	          <option value="57">57</option>
	          <option value="58">58</option>
	          <option value="59">59</option>
	        </select>

	      </div>
	    </div>
	    <div class="row">
	      <div class="small-12 columns text-left">
	        <input type="submit" name="commit" value="Create" class="button">
	      </div>
	    </div>
	</form>
  <a class="close-reveal-modal">&#215;</a>
</div>
