<div class='row'>
  <div class='small-8 small-centered columns'>
    <h1 class='text-center'><%= @post.name %></h1>
  </div>
</div>

<div id='post-contents-stack'>
  <% @post.contents.each_with_index do |c, i| %>
    <div class='post-content row <%= i != @post.contents.size - 1 ? "hide" : ""%>' data-content-index="<%= i %>">
      <div class='small-8 small-centered columns'>
        <%= image_tag(c.media.url) %>
      </div>
    </div>
  <% end %>
  
  <div class='row' id='contents-segmented-control'>
    <div class='small-8 small-centered columns'>
      <% @post.contents.size.times do |i| %>
        <a href="#" class="round button" data-content-index="<%= i %>"><%= i + 1 %></a>
      <% end %>
    </div>
  </div>
</div>

<div id='post-comments-list'>
  <% @post.comments.each do |c| %>
    <%= comment_row_html(c) %>
  <% end %>
</div>

<div class='row'>
  <div class='small-6 small-centered columns'>
    <div class='row'>
      <div class='small-6 columns'>
        <%= form_for @comment, url: post_comments_url(@post), remote: true do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.text_field :body %>
          <%= f.submit "Add Comment" %>
        <% end %>
      </div>
      <div class='small-6 columns'>
        <%= form_for @content, url: post_contents_url(@post) do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.file_field :media %>
          <%= f.submit "Add Content" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
