<h2><%= @collaboration.name %></h2>
<p><%= @collaboration.description %></p>

<div class='row'>
  <div class='small-2 columns'>
    <h6 class='section-title'><strong>Campaigns</strong></h6>
    <%= form_for :campaign, url: collaboration_campaigns_url(@collaboration), remote: true, html: {id: "campaign-form"} do |f| %>
    <%= f.text_field :name, placeholder: "Create campaign" %>
    <% end %>
    <ul id='campaign-list' data-collaboration-id="<%=@collaboration.id%>">
    </ul>
    <div id='membership-section'>
      <h6 class='section-title'><strong>Members</strong></h6>
      <input id='membership-form' type='text' placeholder='Add member'>
      <ul id='membership-list' data-collaboration-id="<%= @collaboration.id %>">
      </ul>
    </div>
  </div>
  <div class='small-8 small-offset-1 columns end'>
    <div class='row'>
      <div class='small-2 columns'>
        <a class='tiny button success' id='today-button'>Today</a>
      </div>
      <div class='small-4 small-offset-2 columns'>
        <ul class="button-group even-3 text-center">
          <li><a href="#" class="tiny button secondary time-scale-select" data-scale='week'>Weekly</a></li>
          <li><a href="#" class="tiny button secondary time-scale-select" data-scale='month'>Monthly</a></li>
        </ul>
      </div>
      <div class='small-2 columns text-right'>
        <a class='tiny button success' id='create-post-button'>Create Post</a>
      </div>
    </div>
    <div class='row'>
      <div class='small-1 columns'>
        <a class='time-scale-arrow' data-scale-amount="-1"><i class='fi-arrow-left'></i></a>
      </div>
      <div class='small-10 columns' id='time-scale-title'>
        Loading...
      </div>
      <div class='small-1 end columns'>
        <a class='time-scale-arrow float-right' data-scale-amount="1"><i class='fi-arrow-right'></i></a>
      </div>
    </div>
    <div id='calendar' data-collaboration-id="<%=@collaboration.id%>">
    </div>
  </div>
</div>

<div id="create-post-modal" class="reveal-modal" data-reveal>
  <div class='row'>
    <div class='small-12 columns'>
      <h4 id='create-post-title'>
        New Post
      </h4>
    </div>
  </div>
  <%= form_for :post, url: collaboration_posts_url(@collaboration), remote: true, html: {id: "post-form"} do |f_post| %>
    <%= f_post.hidden_field :collaboration_id, value: @collaboration.id %>
    <%= f_post.hidden_field :user_id, value: current_user.id %>

    <div class='row'>
      <div class='small-3 columns'>
        <%= f_post.label :name %>
        <%= f_post.text_field :name, autofocus: true %>
      </div>
      <div class='small-3 columns end'>
        <%= f_post.label :campaign %>
        <%= f_post.select :campaign_id, [] %>
      </div>
    </div>
    <div class='row'>
      <%= hidden_field_tag :offset, nil, name: "scheduled_at[offset]" %>
      <div class='small-2 columns'>
        <%= f_post.label :year %>
        <%= select_year Time.now, field_name: "year", prefix: "scheduled_at" %>
      </div>
      <div class='small-4 columns'>
        <%= f_post.label :month %>
        <%= select_month Time.now, field_name: "month", prefix: "scheduled_at" %>
      </div>
      <div class='small-1 columns'>
        <%= f_post.label :date %>
        <%= select_day Time.now, field_name: "date", prefix: "scheduled_at" %>
      </div>
      <div class='small-1 columns'>
        <%= f_post.label :hour %>
        <%= select_hour Time.now, field_name: "hour", prefix: "scheduled_at" %>
      </div>
      <div class='small-1 columns end'>
        <%= f_post.label :minute %>
        <%= select_minute Time.now, field_name: "minute", prefix: "scheduled_at" %>
      </div>
    </div>
    <div class='row'>
      <div class='small-12 columns text-left'>
        <%= f_post.submit "Create", class: "button" %>
      </div>
    </div>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<script type='text/template' id='campaign-option-template'>
  <option value="<%%= id %>">
    <%%= name %>
  </option>
</script>

<script type='text/template' id='campaign-template'>
  <li class='campaign-list-item' data-campaign-id="<%%= id %>" data-color='<%%= color %>'>
    <div class='campaign-selection' style="background-color: <%%= shown ? color : "" %>; border-color: <%%= color %>">
    </div>
    <%%= name %>
  </li>
</script>

<script type="text/template" id="membership-template">
  <%%= user.email %>
  <a><i class='fi-x'></i></a>
</script>

<script type="text/template" id="weekly-template">
  <ul class='small-block-grid-7'>
  <%% _.each(obj, function(day) { %>
    <li class='day-list-item'>
      <div class='day-title'>
        <%%= day.dayOfWeek %> <%%= day.month %>/<%%= day.date %>
      </div>
    </li>
    <%% }) %>
    <%% _.each(obj, function(day) { %>
    <li class='week-day-item' data-day="<%%= day.description %>">
      <ul class='post-list'>
      <%% _.each(day.posts, function(post) { %>
        <li class='post-list-item' data-campaign-id="<%%= post.campaign_id %>">
          <div class='post-title'>
            <a href="/posts/<%%= post.id%>"><%%= post.name %></a>
          </div>
        </li>
        <%% }) %>
      </ul>
    </li>
  <%% }) %>
  </ul>
</script>

<script type="text/template" id="monthly-template">
  <ul class='small-block-grid-7'>
  <%% _.each(weekdays, function(weekday) { %>
    <li class='day-list-item'>
      <div class='day-title'>
        <%%= weekday %>
      </div>
    </li>
  <%% }) %>
  <%% _.each(days, function(day) { %>
    <li class='month-day-item <%%= day.currentMonth ? "current-month" : "" %> <%%= day.today ? "today" : "" %>'>
      <div class='month-day-title'>
        <%%= day.date %>
      </div>
      <ul class='post-list'>
      <%% _.each(day.posts, function(post) { %>
        <li class='post-list-item' data-campaign-id="<%%= post.campaign_id %>">
          <div class='post-title'>
            <a href="/posts/<%%= post.id%>"><%%= post.name %></a>
          </div>
        </li>
      <%% }) %>
      </ul>
    </li>
  <%% }) %>
  </ul>
</script>
