<h2><%= @collaboration.name %></h2>
<p><%= @collaboration.description %></p>

<div class='row'>
  <div class='small-2 small-offset-2 columns'>
    <a class='tiny button success' id='today-button'>Today</a>
  </div>
  <div class='small-3 small-centered columns'>
    <ul class="button-group even-3 text-center">
      <li><a href="#" class="tiny button secondary time-scale-select" data-scale='week'>Weekly</a></li>
      <li><a href="#" class="tiny button secondary time-scale-select" data-scale='month'>Monthly</a></li>
    </ul>
  </div>
</div>

<div class='row'>
  <div class='small-2 columns'>
    <%= link_to "Create Post", new_collaboration_post_url(@collaboration) %>
  </div>
  <div class='small-1 columns'>
    <a class='time-scale-arrow' data-scale-amount="-1"><i class='fi-arrow-left'></i></a>
  </div>
  <div class='small-6 columns' id='time-scale-title'>

  </div>
  <div class='small-1 end columns'>
    <a class='time-scale-arrow float-right' data-scale-amount="1"><i class='fi-arrow-right'></i></a>
  </div>
</div>

<div class='row'>
  <div class='small-2 columns'>
    <h6 class='section-title'><strong>Campaigns</strong></h6>
    <%= form_for :campaign, url: collaboration_campaigns_url(@collaboration), remote: true, html: {id: "campaign-form"} do |f| %>
    <%= f.text_field :name, placeholder: "Create campaign" %>
    <% end %>
    <ul id='campaign-list' data-collaboration-id="<%=@collaboration.id%>">
    </ul>
  </div>
  <div class='small-8 columns'>
    <div id='calendar' data-collaboration-id="<%=@collaboration.id%>">
    </div>
  </div>
  <div class='small-2 columns'>
    <h6 class='section-title'><strong>Members</strong></h6>
    <%= form_for :member, url: collaboration_memberships_url(@collaboration), remote: true, html: {id: "membership-form"} do |f| %>
    <%= f.text_field :email, placeholder: "Add member" %>
    <% end %>
    <ul id='membership-list' data-collaboration-id="<%= @collaboration.id %>">
    </ul>
  </div>
</div>

<%= link_to "Back", collaborations_url %>

<script type='text/template' id='campaign-template'>
  <li class='campaign-list-item' data-campaign-id="<%%= id %>">
    <div class='campaign-selection campaign-show'>
    </div>
    <%%= name %>
  </li>
</script>

<script type="text/template" id="membership-template">
  <li class='membership-list-item'>
    <%%= user.email %>
    <a href='/memberships/<%%= id %>' data-type='json' data-remote=true data-method='delete' rel='nofollow' class='membership-x'><i class='fi-x'></i></a>
  </li>
</script>

<script type="text/template" id="weekly-template">
  <ul class='small-block-grid-7'>
    <%% _.each(obj, function(day) { %>
    <li class='day-list-item'>
      <div class='day-title'>
        <%%= day.dayOfWeek %> <%%= day.month %>/<%%= day.date %>
      </div>
      <ul class='post-list'>
      <%% _.each(day.posts, function(post) { %>
        <li class='post-list-item' data-campaign-id="<%%= post.campaign_id %>">
          <div class='post-title'>
            <a href="/posts/<%%= post.id%>"><%%= post.name %></a>
          </div>
        </li>
      <%% }) %>
      </ul>
    </li>
    <%% }) %>
  </ul>
</script>

<script type="text/template" id="monthly-template">
  <ul class='small-block-grid-7'>
  <%% _.each(weekdays, function(weekday) { %>
    <li class='day-list-item'>
      <div class='day-title'>
        <%%= weekday %>
      </div>
    </li>
  <%% }) %>
  <%% _.each(days, function(day) { %>
    <li class='month-day-item <%%= day.currentMonth ? "current-month" : "" %> <%%= day.today ? "today" : "" %>''>
      <div class='month-day-title'>
        <%%= day.date %>
      </div>
      <ul class='post-list'>
      <%% _.each(day.posts, function(post) { %>
        <li class='post-list-item' data-campaign-id="<%%= post.campaign_id %>">
          <div class='post-title'>
            <a href="/posts/<%%= post.id%>"><%%= post.name %></a>
          </div>
        </li>
      <%% }) %>
      </ul>
    </li>
  <%% }) %>
  </ul>
</script>
