<h2><%= @campaign.name %></h2>

<p>
  <%= @campaign.description %>
</p>

<p>
  <%= link_to "Create Post", new_campaign_post_url(@campaign) %>
</p>

<div class='row'>
  <div class='small-12 columns'>
    <ul class="small-block-grid-7">
      <% @weekly_posts.each do |day, posts| %>
        <li>
          <div>
            <%= day.strftime("%a %m/%d") %>
          </div>
          <% posts.each do |post| %>
          <div>
            <%= link_to post.name, post_url(post) %>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<p>
  <%= link_to "Back", collaboration_url(@campaign.collaboration) %>
</p>
