<h2><%= @campaign.name %></h2>

<p>
  <%= @campaign.description %>
</p>

<p>
  <%= link_to "Create Post", new_campaign_post_url(@campaign) %>
</p>

<div class='row'>
  <div class='small-1 columns'>
    <a id='left-arrow'><i class='fi-arrow-left'></i></a>
  </div>
  <div class='small-1 columns'>
    <a id='right-arrow'><i class='fi-arrow-right'></i></a>
  </div>
</div>

<div class='row'>
  <div class='small-12 columns'>
    <ul id='calendar' data-campaign-id="<%=@campaign.id%>" class="small-block-grid-7">
    </ul>
  </div>
</div>

<p>
  <%= link_to "Back", collaboration_url(@campaign.collaboration) %>
</p>

<script type="text/template" id="day-template">
  <li class='day-list-item'>
    <div class='day-title'>
      <%%= moment.day %> <%%= moment.month %>/<%%= moment.date %>
    </div>
    <ul class='post-list'>
    <%% _.each(posts, function(p) { %>
      <li class='post-list-item'>
        <div class='post-title'>
          <a href="/posts/<%%= p.id%>"><%%= p.name %> <%%= p.time %></a>
        </div>
      </li>
    <%% }) %>
    </ul>
  </li>
</script>
