<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Scribbly" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Scribbly</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <% if current_user %>
            <li><%= link_to "Sign Out", destroy_user_session_url, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_url %></li>
            <li><%= link_to "Sign Up", new_user_registration_url %></li>
          <% end %>
        </ul>

      </section>
    </nav>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
